{% extends 'blog/base.html' %}

{% block style %}
<style>
    footer{
        position: absolute;
    }
    .post-list{
        background-color: white;
        border: 3px solid black;
    }
    article{
        margin: 10px;
    }
</style>
{% endblock %}

{% block content %}
<style>
    .container{
        margin-top: 20px;
    }


</style>
{% for post in posts %}
<div class="container px-4 px-lg-5 post-list">
    <article>
        <h2><a href="">{{ post.title }}</a></h2>
        <p>{{ post.text|linebreaksbr }}</p>
        <time>published: {{ post.published_date }}</time>
    </article>
</div>

{% endfor %}
{% endblock %}